@use '../scss/variables' as *;

.apartment__header {
    display: flex;
    margin-bottom: 2rem;
    gap: 1 rem;
    @media screen and (width <= 768px) {
        flex-direction: column;
    }
    .apartment__title {
        flex-grow: 1;
    }
    .apartment__owner {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        @media screen and (width <= 768px) {
            flex-direction: row;
        }
    }
    .apartment__owner__details {
        display: flex;
        gap: 0.5rem;
        @media screen and (width <= 768px) {
            order: 1;
        }
    }
    .apartment__owner__badge {
        height: 50px;
        width: 50%;
        border-radius: 50%;
        background-color: $background-dark;
    }
    .apartment__owner__stars {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 0.2rem ;
        * {
            font-size: 2rem;
        }
        .on {
            color: $color-primary;
        }
        .off {
            color: $background-dark;
        }
    }
    h1 {
        font-weight: 500;
        margin-top: 0;
        margin-bottom: 0;
    }
    h2 {
        font-weight: 500;
        margin-top: 0.5em;
        margin-bottom: 0.2em;
        font-size: 18px;
    }
    .apartment__tags {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(100px, 150px));
        span {
            background-color: $color-primary;
            color: $color-tertiary;
            padding: 0.3em 1em;
            border-radius: 0.7rem ;
            text-align: center;
        }
    }
    // verifier si c'est utile dans ApartmentHeader ???
    .apartment__description__area {
        display: flex;
        gap: 1 rem;
    }
    h3 {
        margin-top: 0;
        margin-bottom: 0;
        display: flex;
        flex-direction: column;
        font-weight: 400;
    }
}
