@use "../scss/variables.scss" as *;

.description__panel {
    margin-bottom: 1rem;
    flex-basis: 50%;
    overflow: hidden;
    p {
        padding-top: 0;
        padding-bottom: 0;
    }
    .description__header {
        background-color: $color-primary;
        color: $color-tertiary;
        padding: 0.2em 1em;
        border-radius: 0.7rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
        cursor: pointer;
        i {
            font-size: 2rem;
            cursor: pointer;
        }
    }
    .description__content {
        background-color: blue;
        color: $color-primary;
        padding: 1rem;
        border-radius: 0 0 1rem 1rem;
        position: relative;
        top: -0,3rem;
        z-index: -1;
        margin-top: -20px;
        animation: slide-in 0.5s ease-in-out;
    }

    @keyframes slide-in {
        0% {
            transform: translateY(-100%)
        }
    }
    @keyframes slide-out {
        100% {
            transform: translateY(0%)
        }
    }
}