.navbar {
  display: flex;
  align-items: center;
  padding: 2rem;
  color: #ff6060;
  font-weight: 700;
  gap: 2rem;
}

.navbar > *:first-child {
  margin-right: auto;
}

.navbar a {
  text-decoration: none;
  color: #ff6060;
}

.navbar.active {
  text-decoration: underline;
}

.navbar:hover {
  text-decoration: underline;
}
