@use "../variables" as *;

.navbar {
    display: flex;
    align-items: center;
    padding: 2rem;
    color: $color-primary;
    font-weight: 700;
    gap: 2rem;
    & > *:first-child {
        margin-right: auto;
    }
    & a {
        text-decoration: none;
        color:$color-primary;
    }
    &.active,
    &:hover {
        text-decoration: underline;
    }
}

