@use "../scss/variables" as *;

.navbar {
    display: flex;
    align-items: center;
    padding: 2rem;
    color: $color-primary;
    font-weight: 500;
    gap: 2rem;
    font-size: 24px;
    @media screen and (width <= 768px) {
        text-transform: uppercase;
        font-weight: 500;
        font-size: 12px ;

    }
    & > *:first-child { // sélectionne tous les enfants directs de l'élément parent (&) qui sont les premiers enfants de leur propre parent, et leur applique les styles
        margin-right: auto;
    }
    & a { // sélectionne tous les éléments "a" et une classe active et on applique les styles
        text-decoration: none;
        color:$color-primary;
        &.active {
            text-decoration: underline;
        }
        &:hover {
            text-decoration: underline;
        }
    }
}

