$color-primary :#ff6060;
$color-secondary :#863535;
$color-tertiary :white;
$background-dark:#F7F7F7;       // pour le Grid et ouverture Collapse
$background-light: #E3E3E3;     // pour stars
$grid-background-light: white;  // pour masquer le grid en blanc
$footer-background-color: black; 
$background-banner-home-page: url(../assets/background_banner_home_page.png);
