@use "../scss/variables.scss" as *;

.banner {
    position: relative;
    background-position: center;
    background-size: cover;
 // background-image: url("../assets/background_banner_home_page.png");
    background-image: $background-banner-home-page;
    padding: 2rem;
    min-height: 140px;
    border-radius: 2rem;
    display: grid;
    place-items: center;
    color: $color-tertiary;
    margin-bottom: 2rem;
    max-width: 100%;
    font-size: 1.2rem;
    
    @media screen and (max-width: 768px) {
        font-size: 0.8rem;
        min-height: 50%;
      }
      h2 {
        font-weight: 500;
      }
}

.banner::before {
    position: absolute;
    border-radius: 2rem;
    content: "";
    // inset: 0;
    opacity: 0.5;
    filter: brightness(0.8);
}

